*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #EEEEEE;
}
.container
{
    width: 400px;
    min-height: 500px;
    border: 2px solid #E0E0E0;
    margin: 100px auto 10px;
    background: #FEFEFE;
    border-radius: 5px;
}
.row-main
{
    
}
.header
{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    background: #DB4437;
    padding: 10px;
    border-radius: 5px;
}
.todo-input
{
    flex-basis: 80%;
    height: 80%;
    margin: auto;
    background: #E06055;
    color: #F7D7D4;
    border: none;
    padding-left: 10px;
    font-size: 22px;
    
}
.todo-plus
{
    flex-basis: 20%;
    height: 80%;
    margin: auto;
    color: #ffffff;
    
}
.todo-plus .fa
{
    font-size: 40px;   
}
.todo-title
{
    background: #DB4437;
    border: 1px solid black;
    height: 30px;
    color: #fff;
    text-transform: uppercase;
}
li
{
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    border: 1px solid green;
}